@import 'bootstrap/dist/css/bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'products';
@import 'rails_bootstrap_forms';

body {
  padding-top: 60px;
}

p {
    white-space: nowrap;
}  

label.required:after {
  content:" *";
  color: #d9534f;
}