<div class="container">
	<h4> Bem vindo admin! </h4>

	<div class="col-sm-6">
		<center>
			<h3><%= User.count %></h3>
			<h4>Total de usuários</h4>
		</center>
	</div>

	<div class="col-sm-6">
		<center>
			<h3><%= Product.all.count %></h3>
			<h4>Total de produtos</h4>
		</center>
	</div>

</div>